{% extends "base.html" %}
{% load crispy_forms_tags i18n  %}

{% block content %}
    <section id="reg-bg">
      <div class="center">
        <form class="form-registration" method="post" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">{% trans 'sign_in_title' %}</h1>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">{% trans 'sign_in_btn' %}</button>
            <a href="{% url 'password_reset' %}">{% trans 'forgot_pass' %}</a>
        </form>
      </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}