{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section id="reg-bg">
        <div class="center">
            {% if validlink %}
                <form class="form-registration" method="post" novalidate>
                <h1>Please enter (and confirm) your new password.</h1>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
                </form>
            {% else %}
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block footer %}{% endblock %}