{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="center">
    {% if validlink %}
        <h1>Please enter (and confirm) your new password.</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}