{% extends "../base.html" %}

{% load crispy_forms_tags static i18n %}

{% block title %}{% trans 'create_post_title' %}{% endblock %}

{% block content %}
 <main role="main" class="flex-shrink-0">
     <div class="container">
        <form method="post" novalidate>
        <h1 class="h3 mb-3 font-weight-normal">{% trans 'create_post_title' %}</h1>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
        <button class="btn btn-primary" type="submit">{% trans 'create_post_submit_btn' %}</button>
        </form>
    </div>
 </main>
{% endblock %}