{% extends "../base.html" %}
{% block title %}My amazing blog{% endblock %}
{% load crispy_forms_tags i18n static %}
{% block content %}
<main role="main" class="flex-shrink-0">
   <div class="container">
      <div class="row">

         <!-- Search bar -->
         <div class="col-md-3 mt-5 mb-4">
            <div class="card card-body">
               <form method="get" novalidate>
                  <h3>{% trans 'filters' %}</h3>
                  <div class="form-group">
                     {{ form|crispy }}
                     <button class="btn btn-primary btn-block" type="submit">
                         <i class="fas fa-search"></i>
                         {% trans 'search_btn' %}
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <!-- END Search bar -->

         <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">
               {% trans 'posts' %}
            </h1>
            <!-- Posts -->
            {% for post in page_obj %}
            <div class="card mb-2 mt-2">
             <div class="card-header d-flex justify-content-between align-items-center">
                 <a class="d-flex align-items-center" href="{% url 'accounts:info' post.user.id %}">
                     <img class="avatar-mini mr-2" src="{% get_media_prefix %}{{ post.user.profile.avatar }}" />
                     <span class="text-muted">{{ post.user.username }}</span>
                 </a>
                 <span class="text-muted">{{ post.pub_date }}</span>
              </div>
               <div class="card-body text-dark">
                  <a href="{% url 'posts:single_post' post.id %}">
                      <h3 class="card-title">{{ post.name }}</h3>
                  </a>
                   <div class="d-flex justify-content-end">
                       <a href="{% url 'posts:single_post' post.id %}" class="btn btn-primary">{% trans 'read_more' %}</a>
                   </div>
               </div>
            </div>
            {% empty %}
                <h3 class="text-muted">{% trans 'empty_post_text' %}</h3>
            {% endfor %}
            <!-- END posts -->

            <!-- Pagination -->
             {% include '../utils/pagination.html' %}
            <!-- END Pagination -->

         </div>
      </div>
   </div>
</main>
{% endblock %}