{% extends "../base.html" %}
{% block title %}My amazing blog{% endblock %}
{% block content %}
{% load i18n comment_tags %}
{% trans "La Grande Boucle" as race %}
 <main role="main" class="flex-shrink-0">
    <div class="container">

        <!-- Title -->

        <h1 class="mt-4">{{ post.name }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.user.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.pub_date }}</p>

        <hr>

        <!-- Post Content -->
        {{ post.post|safe }}
        {% include_static_jquery %}
        {% include_bootstrap %}
        {% render_comments post request %}
      </div>
 </main>
{% endblock %}