{% extends "../base.html" %}
{% block title %}My amazing blog{% endblock %}
{% load crispy_forms_tags i18n %}
{% block content %}
<main role="main" class="flex-shrink-0">
   <div class="container">
      <div class="row">
         <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">
               {% trans 'user_all_posts' %}
            </h1>
            <!-- Posts -->
            {% for post in page_obj %}
            <div class="card border-dark mb-2 mt-2">
               <div class="card-body text-dark">
                    <a href="{% url 'posts:single_post' post.id %}">
                        <h3 class="card-title">{{ post.name }}</h3>
                    </a>
                    <div class="post-list-text mb-2">
                        {{ post.post|safe|truncatechars:500 }}
                    </div>
                    <a href="{% url 'posts:single_post' post.id %}" class="btn btn-primary">{% trans 'read_more' %}</a>
                    <a href="{% url 'posts:edit_post' post.id %}" class="btn btn-primary">{% trans 'edit_btn' %}</a>
                    <a href="{% url 'posts:delete_post' post.id %}" class="btn btn-danger">{% trans 'delete_btn' %}</a>
               </div>
            </div>
            {% endfor %}
            <!-- END posts -->

            <!-- Pagination -->
            {% include '../utils/pagination.html' %}
            <!-- END Pagination -->

         </div>
      </div>
   </div>
</main>
{% endblock %}