{% extends "../base.html" %}
{% load i18n static crispy_forms_tags %}
{% block title %}{% trans 'users' %}{% endblock %}
{% block content %}
 <main role="main" class="flex-shrink-0">
    <div class="container">
      <div class="row">

         <!-- Search bar -->
         <div class="col-md-3 mt-5">
            <div class="card card-body">
               <form method="get" novalidate>
                  <div class="form-group">
                     {{ form|crispy }}
                     <button class="btn btn-primary btn-block" type="submit">
                         <i class="fas fa-search"></i>
                         {% trans 'search_btn' %}
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <!-- END Search bar -->

         <div class="col">
            <h1 class="h3 mb-3 font-weight-normal">
               {% trans 'users' %}
            </h1>
            <div class="row mb-5">
            {% for user in page_obj %}

                <div class="col-md-4 col-lg-4 col-sm-3">
                    <div class="card mr-1 mb-4">
                        <img class="card-img-top" src="{% if user.profile.avatar %}/media/{{ user.profile.avatar  }}{% else %}{% static 'img/default_user.jpg' %}{% endif %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">
                                {% trans 'first_name' %}: {{ user.first_name }}
                            </p>
                            <p class="card-text">
                                {% trans 'last_name' %}: {{ user.last_name }}
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h3 class="text-muted">{% trans 'empty_user_text' %}</h3>
            {% endfor %}
            {% include '../utils/pagination.html' %}
    </div>
 </main>
{% endblock %}