$top_height: 70px;
$bottom_height: 10px;
$form-height: 100px;

.chat-container {
  height: calc(100vh - #{$top_height} - #{$bottom_height});
  margin-top: $top_height;
  margin-bottom: $bottom_height;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box {
  overflow-y: scroll;
  height: calc(100vh - #{$top_height} - #{$bottom_height});
}
.chat-box {
  overflow-y: scroll;
  height: calc(100vh - #{$top_height} - #{$bottom_height} - #{$form-height});
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

#message-form{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
