{% load compress static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% compress css %}
        <link type="text/x-scss" href="{% static 'styles/main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block header %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>{% block title %}My amazing site{% endblock %}</title>
  </head>
  <body>

    {% include 'messages.html' %}
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% compress js %}
        <script src="{% static 'js/alerts-timeout-close.js' %}"></script>
    {% endcompress %}
    {% block js %}{% endblock %}
  </body>
</html>